rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bug-reports/{document=**} {
      allow read: if false;
      allow write: if true;
    }
    
    match /feedbacks/{document=**} {
      allow read: if false;
      allow write: if true;
    }
  }
}